input {
  width: 300px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 50px;
}

.search-label {
  color: white;
}
.search-field {
  margin-left: 20px;
  /* font-size: 20px; */
}
iframe {
  width: 100%;
  height: 90vh;
}
object {
  width: 100%;
  height: 90vh;
}
embed {
  width: 100%;
  height: 90vh;
}

.rtl {
  direction: rtl;
}
.ltr {
  direction: ltr;
}

.product {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.fav-link {
  text-decoration: none;
  margin-left: 20px;
  color: orangered;
  font-weight: bold;
}

.fav-link:hover {
  color: orange;
}
