.items-container {
    display: grid;
    grid-template-columns : repeat(auto-fill, minmax(250px, 1fr));
}

.itemCard {
    width: 10rem;
    height: 10rem;
    border: 1px black solid;
    padding: 10px;
  }
  
  .imageCard{
    width: 60%;
    height: 60%;
    border-radius: 10px;
  }
  
  .card-title {
    font-size: 26px;
    color: #363636;
    font-weight: 700;
  }